.principal {
  width: 100%;
  height: 716px;
}

.banner {
  width: 100%;
  height: 250px;
  background-image: url("../images/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: none;
}

.textos {
  width: 100%;
  height: calc(100% - 350px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}

.titulo-principal {
  font-size: 3rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  width: 80%;
  color: var(--Desaturated-Red);
}

.titulo-principal > b {
  font-weight: 600;
  color: var(--Dark-Grayish-Red);
}

.sub-titulo {
  color: var(--Desaturated-Red);
  width: 80%;
  max-width: 440px;
  text-align: center;
  line-height: 1.4rem;
}

.formulario{
  width: 80%;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.input {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 1px var(--Desaturated-Red);
  border-radius: 2rem;
}

.input-erro {
  border: solid 1px red;
}

.input-value {
  background-color: transparent;
  width: calc(100% - 64px);
  outline: none;
  border: none;
  font-size: 16px;
  margin-left: 1rem;
  color: var(--Desaturated-Red);
}

::placeholder {
  color: var(--Desaturated-Red);
}

.btn-input {
  width: 70px;
  padding: 15px;
  height: 100%;
  border: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 0 20px 13px hsla(0, 80%, 86%, 0.418);
  cursor: pointer; 
}

.btn-input:hover {
  opacity: 0.4;
  z-index: 1000;
  transition: 3ms;
}

.span-erro {
  display: block;
  width: 100%;
  color: red;
  font-size: 14px;
  margin-top: 0.5rem;
  text-align: left;
  margin-left: 2rem;
}

.icon-error {
  margin-right: 0.5rem;
}

@media(min-width:375px){
  .sub-titulo{
    width: 90%;
  }

  .formulario{
    width: 100%;
  }

  .input{
    width: 80%;
  }

  .span-erro {
  width: 80%;
}

}
@media (min-width: 576px) {
  .principal {
    display: flex;
    flex-direction: row-reverse;
    justify-content:flex-end;
  }

  .banner {
    width: 40%;
    height: 100vh;
    background-image: url("../images/hero-desktop.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    
  }

  .textos {
    width: 60%;
    height: calc(100% - 220px);
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
  }

  .titulo-principal {
    align-items: flex-start;
    width: 80%;
    font-size: 3rem;
  }

  .sub-titulo {
    width: 80%;
    text-align: left;
  }
  
  .formulario{
    width: 80%;
  }

  .input{
    width: 100%;
  }

  .span-erro {
  width: 90%;
  margin-left: 1px;
}

}
@media (min-width: 768px) {
  .titulo-principal {
    max-width: 440px;
    font-size: 4.3rem;
  }

  .sub-titulo{
    max-width: 440px;
  }

  .formulario{
    max-width: 440px;
  }

  .input{
    width: 100%;
  }

  .span-erro {
  width: 95%;
  margin-left: 1rem;
}
}